
.floated
    &.right
        float: right
    &.left
        float: left

.aligned
    &.right
        text-align: right
    &.left
        text-align: left
    &.center
        text-align: center

.text-sm
    font-size: 0.8em

.material-icons 
    vertical-align: middle
    &.left
        margin-right: 5px
    &.right
        margin-left: 5px
    &.mini
        font-size: 0.9em
    &.small
        font-size: 1em
    &.medium
        font-size: 1.2em
    &.large
        font-size: 1.4em

        