<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>ReactJS 練習</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="header">
                ReactJS + Gulp 練習
                <div class="sub header right floated">2016/07/12</div>
            </h1> 
        </div>
    </header>
    <main>
        <div class="container">
            <div id="root" class="column c6"></div>
            <div id="comment" class="column c6"></div>
        </div>
    </main>
    <footer>
        <div class="container center aligned">
            powered by NelsonChung. 
        </div>
    </footer>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
