<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReactJS 練習</title>
    <meta name="keywords" content="ReactJS, Apeak">
    <meta name="description" content="ReactJS practice.">
    <meta name="author" content="Nelson Chung.">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout-icon mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header mdl-color--blue-grey-800">
            <div class="mdl-layout__header-row">
                <h3 class="mdl-layout-title">
                    <i class="medium material-icons left">mood</i>基本練習
                </h3>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <span class="mdl-layout-title">ReactJS 日常練習</span>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a href="index.html" class="mdl-navigation__link active">
                    <i class="material-icons left">mood</i>基本練習
                </a>
                <a href="todo.html" class="mdl-navigation__link">
                    <i class="material-icons left">note</i>備忘錄
                </a>
                <a href="pages/" class="mdl-navigation__link">
                    <i class="material-icons left">domain</i>Router
                </a>
                <div class="mdl-layout-spacer"></div>
                <div class="information">
                    <a href="https://github.com/soysen/react-js" target="_blank">
                        <i class="mini material-icons left">settings</i>My github
                    </a>
                    <br>
                    <span class="text-sm">Powered by Nelson</span>
                </div>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-components__page mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <h4 class="mdl-typography--headline mdl-color-text--blue-grey-500">
                        一、Hello world
                    </h4>
                    <p class="mdl-color-text--grey-500">使用 props 跟 state 將參數帶入 component</p>
                    <ol>
                        <li>使用 React、React-dom</li>
                        <li>
                            安裝 <a href="https://tleunen.github.io/react-mdl/" target="_blank">React-MDL</a>
                            （好方便來著，大推）
                        </li>
                        <li>render 時，使用 <span class="mdl-color-text--teal-500">&lt;Hello date={new Date()} /&gt;</span>，在 component 內部為 <span class="mdl-color-text--teal-500">this.props.date</span></li>
                        <li>component 內部使用 <span class="mdl-color-text--teal-500">getInitialState</span> 來取得元件初始化時的狀態，參數會在 this.state 下。</li>
                        <li>input 中 <span class="mdl-color-text--teal-500">value={{ this.state.name }}</span> 必須搭配 <span class="mdl-color-text--teal-500">onChange={this.handleChange}</span> 等事件才能連動</li>
                    </ol>
                </div>
                <div id="demo" class="mdl-cell mdl-cell--6-col"></div>
                <div class="divider"></div>
            </section>
            <section class="mdl-components__page mdl-grid">
                <div id="list" class="mdl-cell mdl-cell--7-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <h4 class="mdl-typography--headline mdl-color-text--blue-grey-500">
                        二、事件綁定
                    </h4>
                    <ol>
                        <li>
                            使用 <span class="mdl-color-text--teal-500">CommentBox</span> import 
                            <span class="mdl-color-text--teal-500">CommentItem</span> 與 
                            <span class="mdl-color-text--teal-500">CommentForm</span>。
                        </li>
                        <li>
                            參照 React 範例，在 <span class="mdl-color-text--teal-500">CommentItem</span> import 
                            <span class="mdl-color-text--teal-500">Comment</span> 做 markdown 轉換。
                        </li>
                        <li>
                            <b>Root：</b><span class="mdl-color-text--teal-500">&lt;CommentItem remove={this.remove}&gt;&lt;/CommentItem&gt;</span><br/>
                            <b>Item：</b><span class="mdl-color-text--teal-500">&lt;a onClick={this.delete} &gt;&lt;Icon name="close" /&gt;&lt;/a&gt;</span><br/>
                            透過 <span class="mdl-color-text--teal-500">onClick={this.delete}</span>，將 item 或 index 傳送到 <span class="mdl-color-text--teal-500">this.prop.remove()</span> 的上層事件做處理
                        </li>
                        <li>
                            跟 vue.js 不同，必須將資料從 state 取出，splice 或 concat 後，再用 setState 設定回去。
                        </li>
                    </ol>
                </div>
                <div class="divider"></div>
            </section>
            <section class="mdl-components__page mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="mdl-typography--headline mdl-color-text--blue-grey-500">
                        三、樹狀結構
                    </h4>
                </div>
                <div id="tree" class="mdl-cell mdl-cell--12-col"></div>
            </section>
        </main>
    </div>
    <script src="js/lib.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
